dtd/wfInfo.dtd

<!-- DTD for a Workflow Management System -->
<!ELEMENT WorkflowManager (workflow)+ >

<!ELEMENT workflow (action+) >
<!ATTLIST workflow
	name ID #REQUIRED	>
	
<!ELEMENT action (simple | process) >
<!ATTLIST action
	id ID #REQUIRED
	name CDATA #REQUIRED
	role CDATA #REQUIRED	>
	
<!ELEMENT simple EMPTY >
<!ATTLIST simple
	nextActions	IDREFS #IMPLIED	>

<!ELEMENT process EMPTY >
<!ATTLIST process
	nextProcess IDREF #REQUIRED >
	
<!-- 
	We can manage the problem in 2 differente ways: 
	using the IDRef(s) like in this case or doesn't use them.
	In the first case we introduce the problem of the managing of the IDs;
	in the second case we have to manage the "pointer" directly inside the application code.
-->

<!-- This DTD file was developed by Luca Mannella for the Assignment 1
	 of the course Distributed Programming II in Politechnic University of Turin. -->